        {% extends "layout.html.twig" %}

        {% block content %}
        <div class="container">
        <section id="short-bio" class="section-important">
        <header class="text-center">
          <p class="heading-icon">
           <span class="fa fa-user-md"></span>
          </p>
           <h2 class="heading-title">Qui suis-je?</h2>

           <p class="sub-title">
            On dit que je suis un homme de belles lettres et que j'habite le
            Congo-Kinshasa. Decouvrez<!--Je suis professeur permanent a l'
            <a href="unikis.ac.cd" alt="Universite de Kisangani">
            Universite de Kisangani-->
            </a>
           </p>
        </header>
        <div class="content col-md-offset-1 col-md-10">
        <p class="col-md-5 me-img">
        <img src="{{ asset('/img/5.jpg') }}" alt="Moi">
        </p>
        <div class=" me-content">
         Né trois jours avant l'indépendance de mon pays (<a href="#">RD Congo</a>)
          dans l'ancienne province du Kassai- Occidentale, je suis agrégé en Langues
          et littérarure anglaise de l'Université de Kisangani et Professeur permanent au sein de
          la même université.

         <hr>
         <div class="bio-contact col-md-5">
         <p>Contact</p>
         <p>Université de Kisangani,
         Fac des Lettres.
         Kisangani,
         R.D.Congo
         </p>
         <ul>
         <li><span class="fa fa-user-md"></span> +243 0992097516</li>
         <li><span class="fa fa-user-md"></span> +243 0992097516</li>
         <li><span class="fa fa-user-md"></span>
         <a href="mailto:arthur.cimwanga@unikis.ac.cd"
         alt="arthur.cimwanga@unikis.ac.cd">arthur.cimwanga(at)unikis.ac.cd</a>
         </li>
         </div>

        </div>

        </div>

        </section>

        <section id="study" class="col-md-12 section-important">
        <header class="text-center">
          <p class="heading-icon">
           <span class="fa fa-user-md"></span>
          </p>
           <h2 class="heading-title">Ma formation</h2>

           <p class="sub-title">
            Découvrez ma formation universitaire et professionnelle
           </p>
        </header>

        <div class="content col-md-offset-1 col-md-10">
        <div class="degree">
          <p class="degree-title" >Ph. D</p>

          <ul class="degree-description">
           <li><span class="col-md-2">Etablissement</span> :
           Universite de Kisangani
           </li>
           <li><span class="col-md-2">Domaine </span>: Litterature anglaise</li>
           <li><span class="col-md-2">Annee</span> : 2010</li>
           <li><span class="col-md-2">Sujet </span> : <strong>English language
           imperialism in the world and in DRC, socio-linguistic issues of some
           world and congolese languages coexistence</strong>
           </li>
           <li><span class="col-md-2">Directeur</span> : Pr Dr Cyprien Busaki
           </li>
           <li><span class="col-md-2">Mention</span> : Distinction
           </li>
          </ul>
        </div>
        <div class="degree">
          <p class="degree-title" >DES</p>

          <ul class="degree-description">
           <li><span class="col-md-2">Etablissement</span> : Universite de Kisangani
           </li>
           <li><span class="col-md-2">Domaine</span> : Litterature anglaise</li>
           <li><span class="col-md-2">Annee</span> : 2007</li>
           <li><span class="col-md-2">Mention</span> : Distinction
           </li>
          </ul>
        </div>
        <div class="degree">
          <p class="degree-title" >Licence</p>

          <ul class="degree-description">
           <li><span class="col-md-2">Etablissement</span> : Universite de Kisangani
           </li>
           <li><span class="col-md-2">Domaine</span> : Litterature anglaise</li>
           <li><span class="col-md-2">Annee</span> : 199x</li>
           <li><span class="col-md-2">Mention</span> : Distinction?
           </li>
          </ul>
        </div>
        <div class="degree">
          <p class="degree-title">Brevet de technicien en cleaning building du
          Swaziland</p>

          <ul class="degree-description">
           <li><span class="col-md-2">Organisateur</span> : Peace corps volunteers
           </li>
           <li><span class="col-md-2">Annee</span> : 1981</li>

          </ul>
        </div>
        </div>
        </section>

        <!--WORKSHOP -->
        <section id="workshop" class="col-md-12 section-important">
        <header class="text-center">
          <p class="heading-icon">
           <span class="fa fa-user-md"></span>
          </p>
           <h2 class="heading-title">Workshop</h2>

           <p class="sub-title">
            J'ai participe a plusieurs ateliers, seminaires, conferences tant
            nationales qu'internationales
           </p>
        </header>

        <div class="content col-md-offset-1 col-md-10">
        <ul class="nav nav-tabs">
         <li class="active"><a href="#wkshop-participate" data-toggle="tab">
          Séminaires participés</a>
         </li>
         <li><a href="#wkshop-animate" data-toggle="tab">
          Séminaires animés</a>
         </li>

        </ul>

        <div class="tab-content">
         <div class="tab-pane fade active in" id="wkshop-participate">
          <ul>
          <li>
           <em>Stratégies impliquant les universités africaines dans la
           globalisation</em>, Londres (2005)
           <span class="pull-right workshop-type">Séminaire</span>
          </li>
          <li>2007 | DESS, Langues et litteratures anglaises,
          Universite de Kisangani; avec Distinction</li>
          <li>19x - 19x | Licence, Langues et litteratures anglaises,
          Universite de Kisangani?; avec Distinction</li>
          <li>1981 | Brevet de technicien en cleaning building du Swaziland,
          Peace corps volunteers
          </li>
          </ul>
         </div>
         <div class="tab-pane fade" id="wkshop-animate">
          <ul>
           <li>Genre et Pratique du Sport dans la ville de Kisangani.
           De 2010 à 2015, by Marry YANGALA ANGALENIKI, 2015</li>
           <li>Lorem</li>
           <li>Lorem</li>
          </ul>
         </div>
        </div>

        </div>
        </section>

        <section id="schools" class="col-md-12 section-important">
        <header class="text-center">
          <p class="heading-icon">
           <span class="fa fa-user-md"></span>
          </p>
           <h2 class="heading-title">Universites ou ecoles partenaires</h2>

           <p class="sub-title">
            En plus de mon université, je collabore avec plusieurs autres universités
            dans le monde. En voici quelques-unes:
           </p>
        </header>


        <div class="col-xs-2 school-partenaire">
         <a href="#"><img src="{{ asset('/img/book1.jpg') }}" alt="text"></a>
        </div>
        <div class="col-xs-2 school-partenaire">
         <a href="#"><img src="{{ asset('/img/book1.jpg') }}" alt="text"></a>
        </div>
        <div class="col-xs-2 school-partenaire">
         <a href="#"><img src="{{ asset('/img/book1.jpg') }}" alt="text"></a>
        </div>
        <div class="col-xs-2 school-partenaire">
         <a href="#"><img src="{{ asset('/img/book1.jpg') }}" alt="text"></a>
        </div>
        <div class="col-xs-2 school-partenaire">
         <a href="#"><img src="{{ asset('/img/book1.jpg') }}" alt="text"></a>
        </div>
        <div class="col-xs-2 school-partenaire">
         <a href="#"><img src="{{ asset('/img/book1.jpg') }}" alt="text"></a>
        </div>


        </section>

        <section class="text-center section-important col-md-12" id="cv-call-action">
        <p class="call-action-text">Voulez-vous en savoir plus?</p>
           <a class="btn btn-warning call-action-btn col-md-offset-5 col-md-2
           col-xs-12" href="#">
           Telechargez mon CV</a>
        </section>
       </div>
        {% endblock %}
